.directions {
    background-color: #000;
    padding: 40px;
}

.directions h1 {
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 0;
    color: #fff;
}

.directions h3 {
    color: #fff;
}

.directions p {
    color: #fff;
}

.directions h4 {
    color: #fff;
}

#googleMap {
    background-color: #222;
    height: 100%;
    width: 100%;
}

.navbar-collapse.collapse .navbar.navbar-nav.hide-while-loading .nav-bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

@media (min-width: 768px) {
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

.navbar .logo.navbar-brand {
    background: url(../images/NewDaysLogo.png) no-repeat center;
    background-size: 150px 25px;
    width: 180px;
    display: block;
}

.nav.navbar-nav li a {
    color: #0A0A0A;
    line-height: 1.5;
    font-weight: bold;
    text-transform: none;
    font-size: 13px;
    letter-spacing: normal;
}

.nav.navbar-nav.navbar-right li a {
    font-size: 15px;
    line-height: 1.3;
}

.home-intro {
    padding: 10px 28px 25px;
}

@media (min-width: 768px) {
    .home-intro {
        padding: 20px 30px;
    }
}

.store-images {
    background-color: #000;
}

img.grayscale {
    filter: gray;
    -webkit-filter: grayscale(100%);
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.no-padding {
    padding: 0px;
}

.ten-padding {
    padding: 10px;
}

.home-intro h1 {
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 0;
}